<h2 class="text-center">Log in</h2>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  <div class="form-group ">
    <div class="control-label col-sm-2">
      <%= f.label :email %>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
    </div>
  </div>
  <div class="form-group ">
    <div class="control-label col-sm-2">
      <%= f.label :password %>
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.button :submit, class: "btn btn-success btn-lg" do %>
        <i class="glyphicon glyphicon-ok"></i> Log in
      <% end %>
      <%= link_to "Cancel", root_path, class: "btn btn-danger btn-lg" %>
      <%= link_to "Create an account", "signup", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>