<h2 class="text-center">Listing all articles</h2>
<div class="text-center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div class="text-center">
  <%= will_paginate %>
</div>