<h2 class="text-center">Title: <%= @article.title %></h2>
  <div class="well col-xs-8 col-xs-offset-2">
    <% if @article.user %>
      <ul class="text-center list-unstyled">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <li>Created by:</li>
            <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
            <li class="article-title">
              <%= link_to @article.user.username, user_path(@article.user) %>
            </li>
            <li>
              <small>
                <%= pluralize(@article.user.articles.count, "article") if @article.user.articles.any? %>
              </small>
            </li>
          </div>
        </div>
      </ul>
    <% end %>
    <h3 class="description text-center">Description:</h3>
    <hr>
    <%= simple_format(@article.description) %>
    <div class="article-actions">
      <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
        <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete this article", article_path(@article), method: :delete, 
                              data: { confirm: "Are you sure you want to delete this article?" },
                              class: "btn btn-xs btn-danger" %>
      <% end %>
      <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
    </div>
  </div>