<h2 class="text-center">Alpha Bloggers</h2>
<div class="text-center">
  <%= will_paginate %>
  <% @users.order("username").each do |user| %>
    <ul class="text-center list-unstyled">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
          <li><%= "Admin" if user.admin? %></li>
          <li><small><%= pluralize(user.articles.count, "article") if user.articles.any? %></small></li>
          <% if logged_in? && current_user.admin? && session[:user_id] != user.id %>
            <li><%= link_to "Delete this user", user_path(user), method: :delete,
                            data: { confirm: "Are you sure you want to delete the user and all their articles?" },
                            class: "btn btn-xs btn-danger" %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>