<h2 class="text-center">Welcome to <%= @user.username %>'s page</h2>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= gravatar_for @user, size: 150 %>
  </div>
  <% if logged_in? && current_user == @user %>
    <div class="col-md-4 col-md-offset-4 text-center btn-modal">
      <!-- Button trigger Gravatar modal -->
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#gravatarModal">
        Update photo
      </button>
    </div>
  <% end %>
</div>
<h3 class="text-center"><%= @user.username %>'s articles</h3>

<% if @user_articles.any? %>
  <div class="text-center">
    <%= will_paginate @user_articles %>
  </div>
  <%= render 'articles/article', obj: @user_articles %>
  <div class="text-center">
    <%= will_paginate @user_articles %>
  </div>
<% else %>
  <div class="text-center">
    <small>This user has no articles</small>
  </div>
<% end %>

<!-- Gravatar modal -->
<div class="modal fade" id="gravatarModal" tabindex="-1" role="dialog" aria-labelledby="gravatarModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gravatarModalLabel">Update profile photo</h4>
      </div>
      <div class="modal-body">
        Profile photos in Alpha Blog are handled by Gravatar
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="https://www.gravatar.com/" class="btn btn-primary" role="button" target="blonk">Go to Gravatar.com</a>
      </div>
    </div>
  </div>
</div>