<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Homepage</title>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div id="content">
      <div>
        <h2>This is the about page</h2>
      </div>
    </div>
</html>

  