<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Homepage</title>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    
    <div class="text-center jumbotron bg_image">
      <p class="col-sm-3"></p>
      <h1 class="col-sm-6 text center">ALPHA BLOG</h1>
      <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg col-sm-3 pull-right" %>
    </div>
    
  </body>
</html>