/* Insert all changes to default settings of bootstrap right on top */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 70px;
}

#logo {
  font-size: 2em;
  color: #337AB7;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
}

#logo:hover {
  color: #18558A;
  text-decoration: none;
}

.form-login{
  padding: 1em;
  min-width: 280px; /* change width as per your requirement */
}

.profile-image {
  padding: 0px;
  margin: -10px;
}

.form-group .btn {
  margin-top: 5px;
}

.jumbotron h1 {
  color: #337AB7;
  margin: 0;
  letter-spacing: -5px;
  font-weight: bold;
}

.jumbotron .btn {
    font-size: 1.5em;
}

.bg_image {
  background: asset-url("laptop.jpg") no-repeat center center;
  min-height: 600px;
  background-size: cover;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-actions .btn {
  margin-top: 5px;
}

.description {
  margin-top: 0;
  font-weight: bold;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-modal {
  margin-top: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer a:hover {
  color: #18558A;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}