/* html {
  margin: 0 0 5px 0;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: gainsboro;
  color: black;
  font-family:Helvetica Neue, arial, sans-serif;
  height: 100%;
}

h1 {
  margin: -11px 0 -11px -20px;
  padding: 0 20px 0 20px;
} 

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#header li {
  float: left;
}

#header li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 32px 16px;
  text-decoration: none;
}

#header li a:hover, .dropdown:hover .dropbtn {
  background-color: #C52F24;
}

#header li.dropdown {
  display: inline-block;
}

#header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#header .dropdown-content a:hover {
  background-color: #f1f1f1;
}

#header .dropdown:hover .dropdown-content {
  display: block;
}

.lorem {
  float: left;
  width: 50%;
  text-align: center;
}

.lorem p {
  text-align:justify;
  padding: 10px;
}

.quote {
  padding: 10px;
}

.bottom_menu_bar li {
  margin: 0px;
}

.clear {
  clear:both;
}

footer {
  padding: 0 0 5px 10px;
} */