<div class="container navbar">
  <small>
    Copyright &copy; <a href="https://github.com/RMF2PT" target="blank">Ricardo Ferreira</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</div>