<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                  aria-expanded="false">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "New Article", new_article_path %></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown" role="button" aria-expanded="false">
            <%= gravatar_for(current_user, size: 40) %><span class="caret"></span><%= "Admin" if current_user.admin? %></a>
            <ul class="dropdown-menu">
              <li><%= link_to "View your profile", user_path(current_user) %></li>
              <li><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to logout_path, method: :delete do %>
                    <i class="glyphicon glyphicon-log-out"></i> Log out
                  <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="glyphicon glyphicon-user"></i> Log in
            </a>
            <div class="dropdown-menu form-login stop-propagation" role="menu">
              <%= form_for(:session, :html => { role: "form" }, url: login_path) do |f| %>
                <div class="form-group">
                  <label for="inputEmail">
                    <i class="glyphicon glyphicon-envelope"></i> Email
                  </label>
                  <%= f.email_field :email, class: "form-control", id: "inputEmail", placeholder: "Enter email", autofocus: true %>
                </div>
                <div class="form-group">
                  <label for="inputPassword">
                    <i class="glyphicon glyphicon-lock"></i> Password
                  </label>
                  <%= f.password_field :password, class: "form-control", id: "inputPassword", autocomplete: "off" %>
                </div>
                <button type="submit" class="btn btn-success btn-block"><i class="glyphicon glyphicon-ok"></i> Log in</button>
                <%= link_to "Create an account", "signup", class: "btn btn-primary btn-block" %>
              <% end %>
            </div>
          </li><!-- dropdown -->
        <% end %><!-- if logged_in? -->
      </ul><!-- /.nav navbar-nav navbar-right -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar navbar-default navbar-fixed-top -->